body {
    column-count: 2;
}

canvas {
    border: 2px solid #000000;
    cursor: grab; /* nw-resize */
}

main {
    display: grid;
}

.start-btn {

}

.end-btn {

}

.cards-container {
    column-count: 2;
    border: 2px solid #000000;
    margin: auto;
    text-align: center;
    height: 100px;
    width: 400px;
}
.flip-btn {

}


.rulesbtn {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    left: 15px;
    z-index: 99;
}
.rules {
    position: absolute;
    bottom: 20px;
    left: 20px;
}