/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* COLOR PALETTE*/
:root {
    --white: #ECE7EE;
    --black: #030b38;
    --green: #27a361; 
    --red: #a01031;
    --blue: #006fca;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body {
    column-count: 2;
}

main {
    --neutral: var(--blue);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: right;
    background: var(--neutral);
}

/* DRAWING CANVAS */
canvas {
    border: 2px solid var(--black);
    cursor: grab;
    background: var(--white);
}

.not-canvas {
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

/* TIMER */
.timer {
    text-align: center;
    color: var(--white);
    box-shadow: 0 0 10px 1px;
    border-radius: 5px;
}

/* NEW PLAYER */
.new-player {
    text-align: center;
    margin: 2px;
    padding: 3px;
}
.add-player {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
}
    .add-player:hover {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
    }

/* PLAYERS SCOREBOARD */
.score-board {
    border: 2px solid;
    background-color: var(--white);
    text-align: center;
    border-radius: 5px;
}

/* TIMER START AND TIMES UP */
main.start-time {
    --neutral: var(--green)
}
main.stop-time {
    --neutral: var(--red)
}

/* TIMER CONTROLS */
.timer-controls {
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.start-btn {
    border: var(--white);
    background-color: var(--green);
    outline: none;
    box-shadow: 0px 2px 2px 0px;
}
    .start-btn:hover {
        background-color: var(--white);
        color: var(--green);
    }
.stop-btn {
    border: var(--white);
    background-color: var(--red);
    outline: none;
    box-shadow: 0px 2px 2px 0px;
}
    .stop-btn:hover {
        background-color: var(--white);
        color: var(--red);
    }

/* GAME CONTROLS */
.game-controls {
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.new-words, .end-game {
    border: var(--white);
    background-color: var(--white);
    color: var(--black);
    outline: none;
    box-shadow: 0px 2px 2px 0px;
}
    .new-words:hover, .end-game:hover {
        color: var(--blue);
    }

/* DISPLAYED GAME CARDS */
.cards-container {
    height: 200px;
    width: 400px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
}
    .cards-container:hover {
        background-color: var(--black);
    }
.game-card {
    border: 2px var(--black);
    border-radius: 2px;
    display: grid;
    text-align: center;
    background-color: var(--white);
    box-shadow: 0 0 10px 1px;
    padding: 10px;
    margin: 30px 0;
}

/* RULES AND HELP */
.rulesbtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 5;
    background: var(--blue);
    color: var(--white);
    border-radius: 5px;
}
    .rulesbtn:hover {
        background-color: var(--white);
        color: var(--blue);
    }
.rules {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--blue);
    background-color: var(--white);
}

.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--white);
    text-shadow:1px 1px 10px var(--black);
  }